.categories[data-v-f92ee5ce]{display:flex;flex-direction:row;flex-wrap:wrap}.categories[data-v-f92ee5ce] span{align-items:center;color:var(--color-icon);display:flex;flex-direction:row;margin-right:var(--spacing-card-md)}.categories[data-v-f92ee5ce] span svg{margin-right:.2rem;width:1rem}