.main[data-v-70767803]{margin:var(--spacing-card-lg) auto;width:calc(100% - 4rem)}@media screen and (min-width:800px){.main[data-v-70767803]{width:600px}}.error h1[data-v-70767803]{margin-bottom:.25rem}.error svg[data-v-70767803]{fill:var(--color-text);color:var(--color-text);height:auto;width:100%}