@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@700&family=Fira+Code:wght@700&family=Roboto+Mono:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "baloo chettan 2", cursive;
  box-sizing: border-box;
  font-size: 25px;
}
body {
  display: flex;
  background-color: #17171f;
}
body .all {
  margin: 2% auto 0;
  max-width: 930px;
  width: 95%;
  background-color: #222733;
  padding: 30px;
  border-radius: 20px;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}
.all2 {
  margin: 7% auto 0;
  display: inline-table;
  position: relative;
  max-width: 930px;
  height: 300px;
  width: 95%;
  background-color: #222733;
  padding: 30px;
  border-radius: 20px;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}
.tabs::-webkit-scrollbar {
  width: 6px;
}
.tabs::-webkit-scrollbar-thumb {
  transition: all linear 0.5s;
  border-radius: 20px;
  max-width: 30px;
  max-height: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
}
.tabs::-webkit-scrollbar-thumb:hover {
  background-color: #c23564;
}
body::-webkit-scrollbar {
  width: 17px;
  background-color: #212733;
}


body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: none;
  background-image: linear-gradient(-45deg, #6a5af9, #d66efd);
  border-radius: 50px;
  max-height: 100px;
}
.tabs {
  overflow-x: auto;
  display: inline-flex;
  position: relative;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}
.tabs .line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 6px;
  border-radius: 15px;
  background-color: #c23564;
  transition: all 0.2s ease;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.tab-item {
  display: inline-block;
  padding: 16px 20px 11px 20px;
  font-size: 20px;
  text-align: center;
  color: #c23564;
  background-color: #1e2029;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 5px solid transparent;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.tab-item box-icon {
  font-size: 24px;
  width: 32px;
  position: relative;
  top: 2px;
  color: #c23564;
}
.tab-item:hover {
  opacity: 1;
  background-color: rgba(194, 53, 100, 0.05);
  border-color: rgba(194, 53, 100, 0.1);
}

.tab-item.active {
  opacity: 1;
}
.tab-content {
  padding: 28px 0;
}
.tab-pane {
  color: #fff;
  display: none;
}
.tab-pane.active {
  display: block;
}
#btn-ghj {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  z-index: 3000;
  background: linear-gradient(145deg, #23282c, #1e2125);
}
#bpx{
    position: absolute;
    margin: auto;
    left: 50%;
    top:  50%;
    transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
#btn-ghj:hover {
  opacity: 0.8;
}

.shadow-dark {
  background: linear-gradient(145deg, #23282c, #1e2125);
  box-shadow: 17px 17px 23px #1a1d20, -17px -17px 23px #282d32,
    inset 5px 5px 4px #1e2226, inset -5px -5px 4px #24282c;
}

.shadow-light {
  box-shadow: 7px 7px 15px -10px #bbcfda, -4px -4px 13px #ffffff,
    inset 7px 7px 3px rgba(209, 217, 230, 0.35),
    inset -11px -11px 3px rgba(255, 255, 255, 0.3);
}

@keyframes change {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.4);
  }
}

.change {
  animation-name: change;
  animation-duration: 1s;
  animation-direction: alternate;
}
.musicplayer {
  position: fixed;
  z-index: 1000;
  height: 60px;
  width: 60px;
  left: 10px;
  bottom: 20px;
  border-radius: 50%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    145deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(125, 214, 246, 1) 0%,
    rgba(121, 126, 246, 1) 100%
  );
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}
#menu-button {
  position: fixed;
  z-index: 1000;
  height: 60px;
  width: 60px;
  right: 10px;
  bottom: 90px;
  border-radius: 50%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    145deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(125, 214, 246, 1) 0%,
    rgba(121, 126, 246, 1) 100%
  );
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}
#menu-button box-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.musicplayer box-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.loader {
  position: fixed;
  z-index: 10000000000000000000000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #212733;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #191a2e;
  border-top-color: #009578;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 160px;
  right: 25px;
  z-index: 99;
  width: 60px;
  height: 60px;
  font-size: 18px;
  border: none;
  border-radius: 50%;
  outline: none;
  background: linear-gradient(
    145deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(125, 214, 246, 1) 0%,
    rgba(121, 126, 246, 1) 100%
  );
  color: white;
  cursor: pointer;
  padding: 15px;
}

.icopn {
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#musicbox {
  display: block;
  transition: all linear 0.5s;
  position: fixed;
  max-width: 300px;
  width: 100%;
  height: 70px;
  padding: 16px 20px 11px 20px;
  border-radius: 20px;
  left: 50%;
  transform: translate(-50%);
  bottom: 20px;
  z-index: 100000000000;
}
/* text */

.tab-pane h2 {
  font-size: 47px;
  margin-bottom: 8px;
  text-align: center;
  background: linear-gradient(
    145deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(125, 214, 246, 1) 0%,
    rgba(121, 126, 246, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
table tr {
  border: #1e2125 2px;
}
.tab-pane h1 {
  font-size: 27px;
  background: linear-gradient(
    145deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(125, 214, 246, 1) 0%,
    rgba(121, 126, 246, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tab-pane h3 {
  color: lightsalmon;
}
.tab-pane > p {
  font-size: 27px;
}
em{
  color: darkslateblue;
}
strong{
  font-weight: 900;
  color: aquamarine;
}
ol li {
  list-style-type:disc;
  margin-left: 30px;
}
.code {
  padding: 16px 20px 11px 20px;
  overflow-x: auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.tab-pane a {
  color: antiquewhite;
  text-decoration: overline;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.title {
  font-size: 44px;
  text-align: center;
  background: linear-gradient(
    145deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(125, 214, 246, 1) 0%,
    rgba(121, 126, 246, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lite-comand {
  color: #bbcfda;
  text-align: center;
}

#drawer-navigation {
  background-color: #222733;
}
#drawer-navigation ul li a {
  color: #fff;
}
#drawer-navigation ul li :hover{
  background-color:#242940 ;
}
/* Light Mod */

.light-mode {
  background-color:#F6F6F6;
  color: #1e2029;
}
.light-mode .all {
  background-color:#fff;
}
.light-mode .all .tab-pane {
  color: #1e2125;
}
.light-mode .all .tabs .tab-item{
  background-color:#F6F6FF;
}
.light-mode #drawer-navigation {
  background-color: #fff;
}
.light-mode #drawer-navigation ul li a {
  color: #111827;
}
.light-mode #drawer-navigation ul li :hover{
  background-color:#eee;
}
.light-mode .all .tab-pane .code {
  background-color: #FCFCFC!important;
}
.light-mode .clor {
  background-color: white;
}


.dark-mod {
  background-color:#F6F6F6;
  color: #1e2029;
}
.light-mode .all {
  background-color:#fff;
}
.light-mode .all .tab-pane {
  color: #1e2125;
}
.light-mode .all .tabs .tab-item{
  background-color:#F6F6FF;
}
.light-mode #drawer-navigation {
  background-color: #fff;
}
.light-mode #drawer-navigation ul li a {
  color: #111827;
}
.light-mode #drawer-navigation ul li :hover{
  background-color:#eee;
}
.light-mode .all .tab-pane .code {
  background-color: #FCFCFC!important;
}
.light-mode .clor {
  background-color: white;
}

@media only screen and (max-width: 800px) {
  * {
    font-size: 20px;
  }
  h2 {
    font-size: 20px;
  }
  h1 {
    font-size: 21px;
  }
}
table, td, th {
  border: 1px solid;
  padding: 10px;
  border-radius: 20px;
}
th {
  color: #28002B ;
}
table {
  width: 100%;
  border-collapse: collapse;
}